
<h1 class="content-box-red center">COMUNIDAD GOODREADS</h1>
<div class='fondo'>
    <h2 class="center">PERFIL</h2>
    <p > Bienvenido Usuario: {{user}}</p>
    <p > Nombres: {{nombre}} </p>
    <p> Apellidos: {{apellido}}</p>
    <p> Cedula: {{cedula}} </p>
    <p> Fecha de Nacimiento: {{fechanac}}</p>
    <button>Mis Libros Calificados</button>

<p>
    <button (click)="logout()">
      Logout
    </button>
 </p>

</div>

<div class='fondo'>
<h2 class="content-box-blue2">Todos los libros disponibles</h2>
<ul>
  <li *ngFor="let libro of libros">
    <h2 (click)="libroClicked(libro)" class="content-box-blue">{{libro.Titulo}}</h2>
  </li>
</ul>
<h2>Características</h2>
<hr>
Title <input type="button"  [(ngModel)]="libroElegido.Titulo" ><br>
Isbn <input type="button" [(ngModel)]="libroElegido.Isbn"><br>
Calificacion <input type="number" [(ngModel)]="libroElegido.Calificacion"><br>
<button (click) = "updateLibro()">Calificar</button>

</div>

